.party-pokemon {
  min-width: 300px;
  width: 300px;
  margin: 0;
  transition: all 300ms ease-in-out;

  &__list {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 65vh;
    background: $ui-section-bg;
  }

  &__item {
    width: 300px;
    background: $ui-section-inactive;
    padding: 25px 10px;
    border-bottom: 1px solid $ui-section-bg;
    position: relative;
    transition: all 300ms linear;
    position: relative;
    left: 0;
    cursor: pointer;

    * {
      cursor: pointer;
    }

    &:hover {
      background: $ui-white;
      transition: all 300ms linear;
      z-index: 100;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__sprite {
    background: lightslategray;
    border-radius: 100px;
    width: 50px;
    margin: 0 20px 0 10px;
    padding: 0;
    position: absolute;
    top: 24px;
  }

  &__name {
    font-family: 'regular';
    color: $ui-font-black;
    font-size: 1em;
    line-height: 2;
    margin: 0 0 0 80px;
  }

  &__message {
    font-family: 'light';
    color: $ui-font-black;
    font-size: 0.8em;
    margin: 0;
  }

  &__genus {
    margin: 0;
    font-size: 0.8em;
    font-family: 'light';
    color: $ui-font-black;
    margin: 0 0 0 80px;
    text-transform: capitalize;
  }

  &__types {
    position: absolute;
    top: 40px;
    right: 20px
  }

  &__type {
    display: inline-block;
    margin-left: 2px;
  }

}

.minimized .party-pokemon{
  width: 90px;
  min-width: 90px;
  transition: all 300ms ease-in-out;

  .pane__header-text {
    display: none;
  }
}
