@font-face {
	font-family: 'regular';
	src        : url('../build/fonts/Rubik-Regular.ttf');
}

	@font-face {
		font-family: 'medium-italic';
		src        : url('../build/fonts/Rubik-MediumItalic.ttf');
	}

@font-face {
	font-family: 'medium';
	src        : url('../build/fonts/Rubik-Medium.ttf');
}

@font-face {
	font-family: 'light-italic';
	src        : url('../build/fonts/Rubik-LightItalic.ttf');
}

@font-face {
	font-family: 'light';
	src        : url('../build/fonts/Rubik-Light.ttf');
}

@font-face {
	font-family: 'italic';
	src        : url('../build/fonts/Rubik-Italic.ttf');
}

@font-face {
	font-family: 'bold-italic';
	src        : url('../build/fonts/Rubik-BoldItalic.ttf');
}

@font-face {
	font-family: 'bold';
	src        : url('../build/fonts/Rubik-Bold.ttf');
}

@font-face {
	font-family: 'black-italic';
	src        : url('../build/fonts/Rubik-BlackItalic.ttf');
}

@font-face {
	font-family: 'black';
	src        : url('../build/fonts/Rubik-Black.ttf'); 
}
