.trainer-pokemon-traits {
    width: 100%;

  &__wrapper {
    float: left;
    width: 30vw;
    min-width: 280px;
  }

  &__level {
    background: $ui-white;
    color: $ui-font-black;
    padding: 10px 20px 9px 20px;
    border-bottom: 1px solid $ui-grey;
    cursor: pointer;
    position: relative;

    * {
      cursor: pointer;
    }

    &:hover {
      background: darken($ui-white, 5%);
    }

  }

  &__level-modal-button {
    position: relative;
    margin: auto;
    &-icon {
      font-size: 70px;
    }
    &--increase {
      color: lawngreen;
    }

    &--decrease {
      color: lightcoral;
    }
  }

  &__level-modal-button-text {
    position: absolute;
    top: -5px;
    left: 14px;
    font-family: 'regular';
    font-size: 0.8em;
    color: $ui-white;
  }

  &__level-name {
    font-family: 'medium';
    line-height: 2.5;
    font-size: 1em;
  }

  &__level-value {
    font-family: 'regular';
    float: right;
    background: #000;
    padding: 9px 13px;
    border-radius: 25px;
    font-size: 1em;
    color: $ui-white;
    background: royalblue;
    position: relative;
    top: 3px;
  }

  &__nature {
    background: $ui-white;
    color: $ui-font-black;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid $ui-grey;
    cursor: pointer;

    * {
      cursor: pointer;
    }

    &:hover {
      background: darken($ui-white, 5%);
    }
  }

  &__nature-name {
    font-family: 'medium';
    font-size: 1em;
  }

  &__nature-value {
    font-family: 'regular';
    font-size: 1em;
    float: right;
  }

  &__characteristic {
    background: $ui-white;
    color: $ui-font-black;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid $ui-grey;
    cursor: pointer;

    * {
      cursor: pointer;
    }

    &:hover {
      background: darken($ui-white, 5%);
    }
  }

  &__characteristic-name {
    font-family: 'medium';
    font-size: 1em;
  }

  &__characteristic-value {
    font-family: 'regular';
    font-size: 1em;
    float: right;
  }

  &__ability {
    background: $ui-white;
    color: $ui-font-black;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid $ui-grey;
    cursor: pointer;

    * {
      cursor: pointer;
    }

    &:hover {
      background: darken($ui-white, 5%);
    }
  }

  &__ability-name {
    font-family: 'medium';
    font-size: 1em;
  }

  &__ability-value {
    font-family: 'regular';
    font-size: 1em;
    float: right;
  }


}
