.trainer-pokemon-box {
  padding: 4px 8px;
  border: 1px solid slateblue;
  border-radius: 5px;
  font-family: 'regular';
  color: $ui-font-black;
  background: $ui-white;
  cursor: pointer;

  * {
    cursor: pointer;
  }

  &:hover {
    background: slateblue;
    color: $ui-white;
  }

  &__name {

  }
}
