.modal {
  background: $ui-white;
  z-index: 1000;
  width: 30%;
  top: 20vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none;
  position: fixed;
  border: 2px solid $ui-black;
  font-family: 'regular';

  &__wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    left:0;
    top: 0;
    display: none;

    &.on {
      display: block;
      .modal__bg {
        display: block;
      }
      .modal {
        display: inline-table;
      }
    }
  }

  &__bg {
    background: rgba($ui-font-black,0.96);
    width: 100vw;
    height: 100vh;
  }

  &__content {
    @import "./filter-modal.scss";
    @import "./input-modal.scss";
  }
}
